@media (max-width: 1290px) {
  header {
    padding: 0px 46px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    padding: 0px 46px;
  }

  .choose-course__title {
    text-align: center;
    max-width: 470px;
  }

  .choose-course__image-devices {
    display: none;
  }

  .choose-course__image-student {
    display: none;
  }

  .choose-course__courses-container {
    flex-direction: row;
  }

  .social-medias-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-content: center;
    gap: 8px;
  }

  footer {
    padding: 0px 46px;
  }
}

@media (max-width: 945px) {
  body {
    grid-template-rows: 10vh 75vh auto;
  }

  main {
    padding: 0px 12px;
  }

  .logo__text {
    display: none;
  }

  .logout__text {
    display: none;
  }

  .choose-course__title {
    font-size: 2rem;
    max-width: 260px;
  }

  .choose-course__courses-container {
    flex-direction: column;
  }

  .course__card {
    flex-direction: column;
    width: 200px;
    height: 200px;
    gap: 12px;
  }

  .card__text {
    font-size: 3rem;
  }

  footer {
    padding: 24px 12px;
    display: grid;
    grid-template-areas:
      "copyright"
      "informations"
      "social";
    grid-template-rows: auto auto auto;
    justify-content: center;
    gap: 24px;
  }

  .informations-container {
    grid-area: informations;
  }

  .copyright__text {
    grid-area: copyright;
    text-align: center;
  }

  .social-medias-container {
    grid-area: social;
    display: flex;
    gap: 12px;
  }
}
