html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: 10vh 75vh 15vh;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: var(--primary-color);
}

header {
  background-color: var(--secondary-color);
  padding: 0px 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo__text {
  font-weight: 700;
  font-size: 1.5rem;
  max-width: 75px;
  color: var(--primary-color);
}

.return-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.return__text {
  font-size: 2.25rem;
  color: var(--primary-color);
}

main {
  padding: 100px 96px 60px 96px;
  display: flex;
  justify-content: space-between;
}

.student-container {
  width: 500px;
  height: 500px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.student-container:hover {
  box-shadow: 0 4px 4px #999;
  transition: all 0.2s;
  transform: scale(1.02);
}

.student__image {
  width: 400px;
  height: 400px;
}

.student__name {
  font-size: 1.125rem;
  color: var(--secondary-color);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  user-select: none;
}

.graph-container {
  font-family: "Poppins";
  font-size: 1.125rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 500px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  user-select: none;
}

.graph-container:hover {
  box-shadow: 0 4px 4px #999;
  transition: all 0.2s;
  transform: scale(1.02);
}

.subject {
  display: grid;
  gap: 12px;
  grid-template-rows: auto auto auto;
  justify-items: center;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subject__grade-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
  background-color: #eeeff8;
  height: 300px;
  width: 16px;
}

.grade__bar {
  border-radius: 4px;
  height: 50%;
}

.subject__name {
  color: var(--secondary-color);
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 0px 96px;
}

.informations-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.information {
  display: flex;
  gap: 24px;
  font-weight: 400;
  user-select: none;
}

.copyright__text {
  display: flex;
  align-items: center;
  font-weight: 400;
  user-select: none;
}

.social-medias-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 1px solid var(--primary-color);
}

.social-media:hover {
  background-color: #bcc2e56e;
  transition: all 0.5s;
}

.social-media > i {
  font-size: 1.375rem;
  color: var(--primary-color);
  line-height: 0;
}
